@use '../../assets/styles/mixins' as mixin;

.projectsIntroContainer {
    margin: 75px 50px 100px 50px;
    h1 {
        margin:  0;
    }
    p{
        margin-top: 150px;
        font-size: 1.5em;
    }
    @include mixin.md-lt{
        h1 {
            margin: 0;
        }
        p{
            margin-top: 100px;
            font-size: 1.1em;
        }
    }
    @include mixin.sm-lt {
        p{
            margin-top: 50px;
            font-size: 1.2em;
        }
    }
}
.otherLinksSection{
    a {
        img{
        width: 25px;
        height: 25px;
        }
    }

}