@use '../../assets/styles/mixins' as mixin;

.projectsIntroContainer {
    margin: 75px 50px 100px 50px;
    h1 {
        margin:  0;
    }
    p{
        font-size: 1.3em;
    }
    @include mixin.md-lt{
        h1 {
            margin: 0;
        }
        p{
            font-size: 1.1em;
        }
    }
    @include mixin.sm-lt {
        p{
            font-size: 1.2em;
        }
    }
}
.otherLinksSection{
    a {
        img{
        width: 25px;
        height: 25px;
        }
    }

}