@use '../../assets/styles/mixins' as mixin;

.PageContainer{
  h1{
    margin: 100px 0px;
    @include mixin.md-lt{
         margin: 75px 0px;
    }
  }
}
.contactPageContainer {
    width: 80%;
    padding: 0;
    margin: auto;
    background-color: var(--secondary);
    border: 1px solid var(--blue1);
    box-shadow: var(--box-shadow-blue);
    background-image: url(/assets/images/background-contactpage.webp);
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    @include mixin.lg-lt{
        background-size: 125%;
    }
    @include mixin.md-lt{
        background-size: 175%;
    }
    @include mixin.xs{
        gap:0;
        padding-top: 50px;
        background-position: left bottom  ;
        background-size: 100%;
    }
}

.contactContainer {
    padding-left:25%;
    @include mixin.lg-lt {
        align-items: flex-start;
        gap: 15px;
    }
    @include mixin.lg-lt {
        padding: 10px;
    }
    @include mixin.sm-lt {
        width: 100%;
       flex-direction: column;
       align-items: center;
    }
    @include mixin.xs {
        padding: 0;
    }
}

.articleContainer{
    max-width: 50%;
    article p{
        color: #ffffff;
        text-shadow: var(--text-shadow-outline);
    }
    @include mixin.lg-lt {
        max-width: 85%;
        padding: 20px;
        gap: 20px;
    }
    @include mixin.md-lt {
        padding: 10px;
    }
    p{
        font-size: 1.4em;
        @include mixin.md-lt {
            font-size: 1.1em;
        }
    }
}


